In [2]:
import pandas as pd
import numpy as np
 
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data', header=None)

df.head()

         0  1      2      3       4   ...      27      28      29      30       31
0    842302  M  17.99  10.38  122.80  ...  0.6656  0.7119  0.2654  0.4601  0.11890
1    842517  M  20.57  17.77  132.90  ...  0.1866  0.2416  0.1860  0.2750  0.08902
2  84300903  M  19.69  21.25  130.00  ...  0.4245  0.4504  0.2430  0.3613  0.08758
3  84348301  M  11.42  20.38   77.58  ...  0.8663  0.6869  0.2575  0.6638  0.17300
4  84358402  M  20.29  14.34  135.10  ...  0.2050  0.4000  0.1625  0.2364  0.07678

[5 rows x 32 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder

X = df.loc[:, 2:].values
y = df.loc[:, 1].values

le = LabelEncoder()
y = le.fit_transform(y)
le.classes_

# B가 악성, M가 양성

array(['B', 'M'], dtype=object)

In [4]:
le.transform(['M', 'B'])

array([1, 0])

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, stratify=y, random_state=1)

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

pipe_lr = make_pipeline(StandardScaler(), PCA(n_components=2), LogisticRegression(solver='liblinear', random_state=1))
pipe_lr.fit(X_train, y_train)

y_pred = pipe_lr.predict(X_test)
print("accuracy: %3f" % pipe_lr.score(X_test, y_test))

accuracy: 0.956140

In [13]:
import numpy as np
from sklearn.model_selection import StratifiedKFold

kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True).split(X_train, y_train)

scores = []
for k,(train, test) in enumerate(kfold):
  pipe_lr.fit(X_train[train], y_train[train])
  score = pipe_lr.score(X_train[train], y_train[train])
  scores.append(score)

  print('fold: %2d, class distribution: %s, accuracy: %.3f' % (k+1, np.bincount(y_train[train]), score))

print('CV accuracy: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

fold:  1, class distribution: [256 153], accuracy: 0.954
fold:  2, class distribution: [256 153], accuracy: 0.949
fold:  3, class distribution: [256 153], accuracy: 0.954
fold:  4, class distribution: [256 153], accuracy: 0.946
fold:  5, class distribution: [256 153], accuracy: 0.958
fold:  6, class distribution: [257 153], accuracy: 0.954
fold:  7, class distribution: [257 153], accuracy: 0.946
fold:  8, class distribution: [257 153], accuracy: 0.949
fold:  9, class distribution: [257 153], accuracy: 0.951
fold: 10, class distribution: [257 153], accuracy: 0.959
CV accuracy: 0.952 +/- 0.004

In [14]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(estimator=pipe_lr, X=X_train, y=y_train, cv=10, n_jobs=1)

print('CV accuracy score: %s' %scores)
print('CV accuracy: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

CV accuracy score: [0.93478261 0.93478261 0.95652174 0.95652174 0.93478261 0.95555556
 0.97777778 0.93333333 0.95555556 0.95555556]
CV accuracy: 0.950 +/- 0.014