In [1]:
# 클래스 레이블 갯수 맞추기
import pandas as pd
import numpy as np
 
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data', header=None)

df.head()

         0  1      2      3       4   ...      27      28      29      30       31
0    842302  M  17.99  10.38  122.80  ...  0.6656  0.7119  0.2654  0.4601  0.11890
1    842517  M  20.57  17.77  132.90  ...  0.1866  0.2416  0.1860  0.2750  0.08902
2  84300903  M  19.69  21.25  130.00  ...  0.4245  0.4504  0.2430  0.3613  0.08758
3  84348301  M  11.42  20.38   77.58  ...  0.8663  0.6869  0.2575  0.6638  0.17300
4  84358402  M  20.29  14.34  135.10  ...  0.2050  0.4000  0.1625  0.2364  0.07678

[5 rows x 32 columns]

In [2]:
from sklearn.preprocessing import LabelEncoder

X = df.loc[:, 2:].values
y = df.loc[:, 1].values

le = LabelEncoder()
y = le.fit_transform(y)
le.classes_

# B가 악성, M가 양성

array(['B', 'M'], dtype=object)

In [3]:
X_imb = np.vstack((X[y==0], X[y==1][:40]))
y_imb = np.hstack((y[y==0], y[y==1][:40]))

In [4]:
# 다수 클래스를 예측 하는 규칙의 정확도 = 90퍼
y_pred = np.zeros(y_imb.shape[0])
np.mean(y_pred == y_imb) * 100

89.92443324937027

In [7]:
from sklearn.utils import resample

print('before sampling as class 1:', X_imb[y_imb == 1].shape[0])

before sampling as class 1: 40

In [8]:
X_upsampled, y_upsampled = resample(X_imb[y_imb == 1],
                                    y_imb[y_imb == 1],
                                    replace = True,
                                    n_samples= X_imb[y_imb==0].shape[0],
                                    random_state=123)
print('샘플링한 후 클래스 1의 샘플 개수: ', X_upsampled.shape[0])

샘플링한 후 클래스 1의 샘플 개수:  357

In [11]:
X_bal = np.vstack((X[y==0], X_upsampled))
y_bal = np.hstack((y[y==0], y_upsampled))

# 다수 클래스를 예측 하는 규칙의 정확도 = 90퍼
y_pred = np.zeros(y_bal.shape[0])
np.mean(y_pred == y_bal) * 100

50.0